:root {
    --bg1: #0C0F38;
    --bg2: #020617;
    --orange: #FF5B30;
    --orange2: #FF8F5E;
    --green: #1ac79d;
    --white: #ffffff;
    --border: rgba(255, 255, 255, 0.14);
}

/* Background */
body {
    min-height: 100vh;
    background:
        radial-gradient(circle at top, rgba(255, 255, 255, .04), transparent 60%),
        linear-gradient(180deg, rgba(12, 15, 56, .9), rgba(2, 6, 23, .95));
    font-family: 'Inter', system-ui;
    color: var(--white);
}

.wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/* Card */
.card-box {
    width: 100%;
    max-width: 660px;

    background: linear-gradient(180deg,
            rgba(255, 255, 255, .12),
            rgba(255, 255, 255, .04));

    backdrop-filter: blur(22px);
    border-radius: 24px;
    border: 1px solid var(--border);
    box-shadow: 0 40px 120px rgba(0, 0, 0, .55);

    padding: 44px 38px;
}

/* Title */
.title {
    text-align: center;
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 26px;
}

/* Inputs */
.input-group-text {
    background: rgba(255, 255, 255, .06);
    border: 1px solid var(--border);
    border-right: 0;
    color: #aab4cf;
}

.form-control {
    height: 52px;
    background: rgba(255, 255, 255, .06);
    border: 1px solid var(--border);
    color: #fff;
}

.form-control:focus {
    background: rgba(255, 255, 255, .1);
    border-color: var(--orange);
    box-shadow: none;
    color: #fff;
}


/* Text blocks */
.info-text {
    font-size: 13px;
    color: #b8c5e0;
    text-align: center;
}

/* Checkbox */
.form-check-input {
    background: rgba(255, 255, 255, .06);
    border: 1px solid var(--border);
}

.form-check-input:checked {
    background: var(--green);
    border-color: var(--green);
}

/* Submit */
.btn-submit {
    background: linear-gradient(135deg, var(--orange), var(--orange2));
    border: none;
    border-radius: 14px;
    padding: 13px 36px;
    font-weight: 800;
    box-shadow: 0 15px 40px rgba(255, 91, 48, .35);
    transition: .3s;
}

.btn-submit:hover {
    transform: translateY(-2px);
    box-shadow: 0 25px 70px rgba(255, 91, 48, .45);
}

/* Select Box */
select.form-control {
    background: rgba(255, 255, 255, 0.06) !important;
    color: #fff !important;
}

/* Option background */
select.form-control option {
    background: #0C0F38 !important;
    color: #ffffff !important;
}

/* Hover & focus */
select.form-control:focus {
    background: rgba(255, 255, 255, 0.1) !important;
    border-color: #FF5B30 !important;
}

/* Disabled first option */
select.form-control option:disabled {
    color: #aab4cf !important;
}


/* Responsive */
@media(max-width:575px) {
    .card-box {
        padding: 26px 18px;
    }
}